.mediar_header {
  background-image: url(../images/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;

}


.wel_padding {
  margin-top: 30px;
  height: 400px;
  /*width: 400px;*/
  /*padding-right: 60px;*/
  border: solid blanchedalmond;
  /*background-color: grey;*/
}
.texto {
  text-align: justify;
} 
.cardre_article {
  border: solid black;
  padding: 30px 30px 30px 30px;
  margin: 15px 0px 15px 0px;
}
.cardre_image {
  border: solid red;
  height: 200px;
}
h1 {
  text-align: center;
}
.image_title {
  border: 4px solid grey;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: greenyellow;
  margin-left: 100px;
}
.cardre_redac{
  text-align: center;
  border: 1px solid yellow;
  margin: 15px 0px 15px 0px;
}
.clift {
  background-color: rgba(195, 201, 190, 0.2);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 28% 75%, 25% 81%, 22% 75%, 0% 75%);
  height: 150px;
  line-height: 25px;
  padding-top: 10px;
}
.profil_ab {
  border: 4px solid grey;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: greenyellow;
  margin-left: 50px;  
}
.cardre_feed {
  text-align: center;
  border: 1px solid blue;
  margin: 15px 0px 15px 0px;
  padding: 0px 15px 0px 15px;

}
.nom {
  /*margin-top: 35px;*/
  display: inline-block;

}
.imge_header {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid gray;
  /*display: inline-block;*/
}
ul {
  list-style: none;
}